<div class="bienvenida-container">
  <h1>Bienvenido a la Sala de Juegos 🎮</h1>
  <div *ngIf="usuario; else noLogueado">
    <p>Hola, {{ usuario.email }} 👋</p>
    <button (click)="logout()">Cerrar sesión</button>
  </div>

  <ng-template #noLogueado>
  <div class="botones-auth">
    <button (click)="navegarA('/login')">Iniciar Sesión</button>
    <button (click)="navegarA('/registro')">Registrarse</button>
  </div>
</ng-template>


  <hr />

  <h2>Juegos:</h2>
<div class="juegos-grid">
  <button (click)="navegarA('/ahorcado')">Ahorcado</button>
  <button (click)="navegarA('/mayor-o-menor')">Mayor o menor</button>
  <button (click)="navegarA('/secuencia-musical')">Juego Propio</button>
  <button (click)="navegarA('/preguntados')">Preguntados</button>
</div>

</div>
