
   <div class="bienvenida-container">
    <h1>Bienvenido a la Sala de Juegos 🎮</h1>
    <div *ngIf="usuario; else noLogueado">
      <p>Hola, {{ usuario.email }} 👋</p>
      <button (click)="logout()">Cerrar sesión</button>
    </div>

    <ng-template #noLogueado>
      <button (click)="navegarA('/login')">Iniciar Sesión</button>
      <button (click)="navegarA('/registro')">Registrarse</button>
    </ng-template>

    <hr>

    <h2>Juegos:</h2>
    <button (click)="navegarA('/ahorcado')">Ahorcado</button>
    <button (click)="navegarA('/mayor-o-menor')">Mayor o menor</button>
    <button (click)="navegarA('/secuencia-musical')">Juego Propio</button>
</div>
