.quien-soy-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(201, 62, 255, 0.4);
  backdrop-filter: blur(8px);
  color: #fff;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(201, 62, 255, 0.5);
}

.descripcion {
  text-align: left;
  margin-top: 30px;
}

.descripcion h2,
.descripcion h3, h1 {
  margin-bottom: 10px;
  color: #c93eff;
  text-shadow: 0 0 5px #c93eff;
}

.descripcion p,
.descripcion li {
  font-size: 16px;
  line-height: 1.5;
}

.descripcion ul {
  padding-left: 20px;
}
