<div class="juego-mayor-menor">
  <div class="titulo-seccion">
    <h1>Juego: Mayor o Menor</h1>
  </div>

  <div *ngIf="jugando" class="cronometro">
    <p>Tiempo: {{ tiempo }} segundos</p>
  </div>
  

  <div class="contenido-juego">
    <div class="carta">
      <img 
        [src]="cartaActual ? cartaActual.image : ''" 
        alt="Carta actual" 
        class="carta-img"
      />
    </div>

    <div class="botones">
      <div class="button" (click)="adivinarMayor()" [class.disabled]="!jugando">
        <span>Mayor</span>
      </div>
      <div class="button" (click)="adivinarMenor()" [class.disabled]="!jugando">
        <span>Menor</span>
      </div>
    </div>

    <div *ngIf="mensaje" class="mensaje">
      <p>{{ mensaje }}</p>
    </div>

    <div *ngIf="!jugando" class="inicio">
      <p>Tu puntaje final es: {{ puntaje }}</p>
      <a class="btn" (click)="iniciarJuego()">Iniciar Juego</a>
    </div>
  </div>
</div>
